.post__image--left {
  float: left;
  margin-bottom: 2.9333333333rem;
  margin-right: 2.9333333333rem;
  max-width: 50%;
}
.post__image--right {
  float: right;
  margin-bottom: 2.9333333333rem;
  margin-left: 2.9333333333rem;
  max-width: 50%;
}
.post__image--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.post__image--wide {
  display: block;
}
@media all and (min-width: 56.25em) {
  .post__image--wide {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    text-align: center;
  }
}
@media all and (min-width: 56.25em) {
  .post__image--wide a,
.post__image--wide img {
    height: auto;
    padding: 0 var(--page-margin);
    max-width: var(--page-width);
  }
}
.post__image--full {
  display: block;
}
@media all and (min-width: 56.25em) {
  .post__image--full {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    text-align: center;
  }
}
.post__image--full a,
.post__image--full img {
  height: auto;
  width: var(--page-width);
}
.post__meta a {
  margin-right: 1.0666666667rem;
}
.post--featured .post__title:after {
  background-color: var(--color);
  -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 30'%3e%3cpath d='M0,0H18V30L9,18.5,0,30Z'/%3e%3c/svg%3e ");
          mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 30'%3e%3cpath d='M0,0H18V30L9,18.5,0,30Z'/%3e%3c/svg%3e ");
  content: "";
  display: block;
  height: 24px;
  left: calc(50% - 7px);
  margin-top: 1.3333333333rem;
  position: relative;
  width: 14px;
}
.post__featured-image {
  margin-bottom: 2.4rem;
  margin-top: 0;
  overflow: hidden;
}
.post__entry > :nth-child(1) {
  margin-top: 0;
}
.post__entry a {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
}
.post__video, .post__iframe {
  position: relative;
  display: block;
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.post__video::before, .post__iframe::before {
  display: block;
  content: "";
  padding-top: var(--embed-aspect-ratio);
}
.post__video iframe, .post__video video, .post__iframe iframe, .post__iframe video {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.post__toc h3 {
  font-size: 1.125rem;
}
@media screen and (min-width: 20rem) {
  .post__toc h3 {
    font-size: calc(1.125rem + 0 * ((100vw - 20rem) / 113));
  }
}
@media screen and (min-width: 133rem) {
  .post__toc h3 {
    font-size: 1.125rem;
  }
}
.post__toc ul {
  counter-reset: item;
  list-style: decimal;
  margin: 0.8rem 0 0 1rem;
}
.post__toc ul li {
  counter-increment: item;
  padding: 0;
}
.post__toc ul ul {
  margin-top: 0;
}
.post__toc ul ul li {
  display: block;
}
.post__toc ul ul li:before {
  content: counters(item, ".") ". ";
  margin-left: -20px;
}
.post__footer {
  margin-top: 3.2rem;
}
@media all and (max-width: 37.4375em) {
  .post__footer {
    text-align: center;
  }
}
@media all and (min-width: 37.5em) {
  .post__footer__col {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.post__last-updated {
  color: var(--gray-1);
  font-size: 0.7901234568rem;
  font-style: italic;
  margin: -1.6rem 0 3.2rem;
  text-align: left;
}
.post__tag {
  margin: 0;
}
@media all and (min-width: 37.5em) {
  .post__tag {
    width: 70%;
  }
}
.post__tag li {
  display: inline-block;
  list-style: none;
  padding: 0 0.8rem 0 0;
}
.post__tag li > a {
  font-size: 0.624295077rem;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.post__tag li > a {
  color: var(--gray-1);
  text-decoration: none;
  -webkit-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
}
.post__tag li > a:hover {
  color: var(--color);
}
.post__tag li > a:active {
  color: var(--color);
}
.post__tag li > a:focus {
  color: var(--color);
}
.post__tag li > a:before {
  content: "#";
}
@media all and (max-width: 37.4375em) {
  .post__share {
    margin-top: 1.6rem;
    text-align: center;
  }
}
.post__share > a {
  display: inline-block;
  padding: 0.2666666667rem;
}
.post__share > a:hover {
  text-decoration: none;
}
.post__share .icon {
  opacity: 1 !important;
  pointer-events: none;
}
@media all and (max-width: 37.4375em) {
  .post__share .icon {
    height: 1.3333333333rem;
    width: 1.3333333333rem;
  }
}
@media all and (min-width: 37.5em) {
  .post__share .icon {
    height: 0.9333333333rem;
    width: 0.9333333333rem;
  }
}
.post__share .icon:hover {
  fill: var(--dark);
}
.post__nav {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-top: 1px solid var(--light);
  color: var(--gray-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.624295077rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 0.18em;
  margin-top: 1.6rem;
  padding: 3.2rem 0 1.0666666667rem;
  text-transform: uppercase;
}
.post__nav__prev {
  position: relative;
  text-align: left;
  width: 50%;
}
.post__nav__prev > h5:before {
  content: "←";
  display: inline-block;
  height: 1rem;
  margin-right: 0.2666666667rem;
  position: absolute;
  top: 1.2rem;
  -webkit-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  -webkit-transform: translateXY(0);
          transform: translateXY(0);
  width: 1rem;
}
.post__nav__prev > h5 > a {
  padding-left: 1.6rem;
  display: inline-block;
}
.post__nav__prev:hover h5:before {
  color: var(--color);
  -webkit-transform: translateX(-0.2666666667rem);
          transform: translateX(-0.2666666667rem);
}
.post__nav__prev:hover h5 > a {
  padding-left: 1.8666666667rem;
}
.post__nav__next {
  margin-left: auto;
  position: relative;
  text-align: right;
  width: 50%;
}
.post__nav__next > h5:after {
  content: "→";
  display: inline-block;
  height: 1rem;
  margin-left: 0.2666666667rem;
  position: absolute;
  right: 0;
  top: 1.2rem;
  -webkit-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  width: 1rem;
}
.post__nav__next > h5 > a {
  padding-right: 1.6rem;
  display: inline-block;
}
.post__nav__next:hover h5:after {
  color: var(--color);
  -webkit-transform: translateX(0.2666666667rem);
          transform: translateX(0.2666666667rem);
}
.post__nav__next:hover h5 > a {
  padding-right: 1.8666666667rem;
}
.post__nav h5 {
  margin: 0.2666666667rem 0 0;
  text-transform: none;
}
.post__bio {
  background: rgba(17, 17, 17, 0.03);
  font-size: 0.7901234568rem;
  margin-top: 3.2rem;
  padding: 1.6rem;
}
.post__bio > img {
  border-radius: 50%;
  height: 3.7333333333rem;
  margin-bottom: 1.0666666667rem;
  width: 3.7333333333rem;
}
@media all and (min-width: 37.5em) {
  .post__bio > img {
    float: left;
  }
  .post__bio > img + div {
    margin-left: 5.8666666667rem;
  }
}
.post__bio h3 {
  font-size: 1rem;
  margin-top: 0;
}
.post__bio + .post__related {
  border: none;
  margin-top: 0;
}
.post__related {
  border-top: 1px solid var(--light);
  margin-top: 2.1333333333rem;
  text-align: left;
}
.post__related__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1.6rem -2% 0;
  width: 104%;
}
.post__related__wrap figure {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0;
  padding: 0.8rem 2% 0;
}
@media all and (min-width: 37.5em) {
  .post__related__wrap figure {
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
  }
}
.post__related__wrap figure a {
  display: block;
}
.post__related__wrap figure a > img {
  height: 9rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
  width: 100%;
}
.post__related__wrap figure a:hover img {
  opacity: 0.8;
}
.post__related__wrap figcaption {
  font-style: normal;
  text-align: left;
}
.post__related__wrap figcaption > time {
  color: var(--gray-1);
  font-size: 0.624295077rem;
  letter-spacing: 0.09em;
  margin: 0 0 0.8rem;
  text-transform: uppercase;
}
.post__related__wrap h4 {
  font-size: 0.8888888889rem;
  margin: 1.6rem 0 0.8rem;
}