.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white);
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". nav logo search. ";
  -ms-grid-columns: var(--page-margin) auto 1fr auto var(--page-margin);
  grid-template-columns: var(--page-margin) auto 1fr auto var(--page-margin);
  height: 4rem;
  margin-left: calc(-1 * var(--page-margin));
  max-width: var(--page-width);
  position: absolute;
  top: 1vw;
  -webkit-transition: all 0.36s ease-in-out;
  transition: all 0.36s ease-in-out;
  width: 100%;
  z-index: 99;
}
@media all and (min-width: 56.25em) {
  .header {
        grid-template-areas: ". logo nav search .";
    -ms-grid-columns: var(--page-margin) 10% 1fr 2rem var(--page-margin);
    grid-template-columns: var(--page-margin) 10% 1fr 2rem var(--page-margin);
    height: var(--header-height);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header.is-visible {
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
  opacity: 1;
  position: fixed;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  top: 0;
}
.header.is-hidden {
  opacity: 0;
  -webkit-transform: translate(0, -86px);
          transform: translate(0, -86px);
  -webkit-transition: background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
  transition: background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
  transition: transform 0.2s, background 0.3s, color 0.3s, opacity 0 0.3s;
  transition: transform 0.2s, background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: logo;
  color: var(--dark) !important;
  font-family: var(--logo-font);
  font-size: 1.4rem;
  white-space: nowrap;
}
@media all and (max-width: 56.1875em) {
  .logo {
    text-align: center;
  }
  .logo > img {
    max-height: 4rem;
    width: auto;
  }
}

@media all and (min-width: 56.25em){
  .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}