{{> head}}
{{> navbar}}
<main>
  <div class="hero">
    <div class="hero__blend">
        <div class="hero__msgcontainer">
            <div class="hero__msg hero__ani">
                <span class="hero__msg__heading">Maja Lorkowska</span><br>
                <span class="hero__msg__subheading">ma-ya lor-kov-ska.</span>
            </div>
        </div>
    </div>
    <div class="hero hero__ani hero__diag"></div>
</div>
</main>
{{> footer}}