{{> head}}
{{> navbar}}
</div>
<div class="homehero__topfiller"></div>
<div class="homehero">
  <div class="homehero__blend">
    <div class="homehero__msgcontainer">
      <div class="homehero__msg homehero__ani">
        <span class="homehero__msg__heading">Maja
          Lorkowska</span><br>
        <span
          class="homehero__msg__subheading">ma-ya
          lor-kov-ska.</span>
      </div>
    </div>
  </div>
  <div
    class="homehero homehero__ani homehero__diag">
  </div>
</div>
<div class="container home__container">
  {{!-- <div class="home__headline wordCarousel">
    <span>Maja is </span>
    <div>
      <ul class="flip4">
        <li>a roller skater</li>
        <li>an editor</li>
        <li>a writer</li>
        <li>an artist</li>
      </ul>
    </div>
    <br>based in Liverpool.
  </div> --}}
{{> footer}}