.gallery {
  margin: 1.6rem -0.5333333333rem;
}
@media all and (min-width: 20em) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media all and (min-width: 56.25em) {
  .gallery-wrapper--wide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
  .gallery-wrapper--wide .gallery {
    padding: 0 var(--page-margin);
    max-width: var(--page-width);
  }
}
@media all and (min-width: 56.25em) {
  .gallery-wrapper--full {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
}
@media all and (min-width: 20em) {
  .gallery[data-columns="1"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}
@media all and (min-width: 30em) {
  .gallery[data-columns="2"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media all and (min-width: 37.5em) {
  .gallery[data-columns="3"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="4"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="5"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="6"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.666%;
            flex: 0 1 16.666%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="7"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 14.285%;
            flex: 1 0 14.285%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="8"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 12.5%;
            flex: 1 0 12.5%;
  }
}
.gallery__item {
  margin: 0;
  padding: 0.5333333333rem;
  position: relative;
}
@media all and (min-width: 20em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media all and (min-width: 30em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
}
@media all and (min-width: 37.5em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}
.gallery__item a {
  display: block;
  height: 100%;
  width: 100%;
}
.gallery__item a::after {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0.5333333333rem;
  content: "";
  display: block;
  opacity: 0;
  left: 0.5333333333rem;
  height: calc(100% - 1.0666666667rem);
  position: absolute;
  right: 0.5333333333rem;
  top: 0.5333333333rem;
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  width: calc(100% - 1.0666666667rem);
}
.gallery__item a:hover::after {
  opacity: 1;
}
.gallery__item img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.gallery__item figcaption {
  bottom: 1.2rem;
  color: var(--white);
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, 1.2rem);
          transform: translate(-50%, 1.2rem);
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}
.gallery__item:hover figcaption {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.pswp--dark .pswp__bg {
  background: #000;
}
.pswp--light .pswp__bg {
  background: #000;
}
.pswp--light .pswp__counter {
  color: var(--dark);
}
.pswp--light .pswp__caption__center {
  color: var(--dark);
}